:root {
    --danger: #c71c22;
    --info: #2fa4e7;
    --warn: #eab518;
    --success: #73a839;
    --color1-bg: #fcbc0e;
    --color1-txt: #3b3b3b;
    --color2-bg: #642b8f;
    --color2-txt: #ffffff;
    --color3-bg: #ffffff;
    --color3-txt: #000000;
}

body.dark {
}
